NEXT_PUBLIC_MODE='prod'
NEXT_PUBLIC_DEV_API_URL='http://localhost:3000'
NEXT_PUBLIC_PROD_API_URL='https://247labstage.spctek.com'

# Sandbox Payment Processor Settings
NEXT_PUBLIC_AUTHORIZE_NET_TEST_MODE='true'
NEXT_PUBLIC_AUTHORIZE_NET_API_LOGIN_ID=
NEXT_PUBLIC_AUTHORIZE_NET_CLIENT_KEY=
